@import url('https://fonts.googleapis.com/css?family=Oswald:200,400,700|Slabo+27px');
/* ==========================================================================
   Base styles:
   ========================================================================== */
/* Fix to include padding and border in the total width for each element */
* {
  box-sizing: border-box;
}

/* Fix for responsive images */
img {
  max-width: 100%;
}
body {
  font-family: 'Oswald', sans-serif;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
}


/* ----------------------------------------
Typography
------------------------------------------- */
p {
  font-family: 'Slabo 27px', serif;
  text-transform: none;
}
h2 {
  font-size: 45px;
}

/* ----------------------------------------
Grid System
------------------------------------------- */
.col-1-4 {
  flex-basis: 20%;
}
.col-1-2-sm {
  flex-basis: 48%;
}
.col-2-3 {
  flex-basis: 64.5%;
}
.col-1-3 {
  flex-basis: 33.3%;
}
.col-5-6 {
  flex-basis: 83%;
}
.col-1-6 {
  flex-basis: 16%;
}
.col-1-5 {
  flex-basis: 19%;
}
.col-1-3-sm {
  flex-basis: 19%;
}
.col-1-2 {
  flex-basis: 50%;
}

.grid-wrapper {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.image-wrapper {
	width: 32%;
}


/* ----------------------------------------
Header
------------------------------------------- */

nav li {
  display: inline-block;
  flex-wrap: wrap;
  margin: 8px;
}
nav li a {
  text-decoration: none;
  color: #AAC7B8;
  font-size: 18px;
  font-weight: 400;
  z-index: 100;
}
nav li a:hover {
  color: #703030;
}
header {
  background-image: url('../img/lights.jpg');
  background-size: cover;
	background-attachment: fixed;
  background-position: bottom;
  padding: 220px;
}
header img {
  display: block;
  margin: 0 auto;
  z-index: 100;
  height: 50px;
  width: 50px;
}
img {
  display: block;
  margin: 0 auto;
}
nav ul {
  text-align: center;
  margin: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #3E606F;
  padding: 0;
  opacity: 0.9;
}
.hamburger {
  display: none;
	font-size: 45px;
	margin: 10px 0;
	padding-left: 20px;
  color: #703030;
  position: fixed;
  top: 0;
  left: 0;
}
.hamburger:hover {
  color: #D1DBBD;
}

.side-nav {
  transform: translateX(-300px);
  transition: all 350ms ease-in-out;
}
.open {
  transform: translateX(0px);
}
#nav-sidebar {
  width: 300px;
  height: 100%;
  background-color:#703030;
  color: #3E606F;
  position: fixed;
  top: 0;
  left: 0;
  padding: 20px 0;
}
#nav-sidebar ul {
  color: #D1DBBD;
}
#nav-sidebar li a {
  text-decoration: none;
  color: #D1DBBD;
}
#nav-sidebar li a:hover {
  text-decoration: none;
  color: #FCFFF5;
}
#nav-sidebar h2 {
  color: #D1DBBD;
}
.exit {
    position: absolute;
    top: 10px;
    right: 20px;
    text-transform: none;
    font-size: 20px;
    text-decoration: none;
    color: #D1DBBD;
}
.header-reservations {
  border: 2px solid #193441;
  padding: 5px 30px 5px 30px;
  background-color: #D1DBBD;
  font-size: 17px;
  color: #193441;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  opacity: 0.9;
}
.header-reservations:hover {
  background-color: #703030;
  color: #D1DBBD;
  border: 2px solid #703030;
}
.logo {
  float: left;
  margin-left: 25px;
}
.nav-reservations {
  border: 2px solid #703030;
  padding: 5px 10px 5px 10px;
}
.selected-page {
  color: #703030;
}
.line {
  border-bottom: 4px solid #bbb;
  width: 35px;
  margin-bottom: 6px;
}
.line:last-child {
  margin-bottom: 0;
}


/* ----------------------------------------
Home Page - About
------------------------------------------- */
.about {
  background-image: url('../img/texture2.jpg');
  background-size: cover;
  background-attachment: fixed;
  color: #193441;
  padding: 200px;
}
.about h2 {
  margin-bottom: 0;
  margin-top: 0;
  text-align: center;
  font-size: 56px;
}
.about h4 {
  font-weight: 200;
  font-size: 24px;px;
  margin-top: 0;
  letter-spacing: 10px;
  text-align: center;
  margin-bottom: 60px;
}
.about p {
  margin-bottom: 50px;
  font-size: 15px;
  margin-top: 0;
}
.intro img {
  text-align: center;
}

/* ----------------------------------------
Awards Bar
------------------------------------------- */

.awards img {
  display: inline-block;
  height: 75px;
  width: 75px;
  margin: 0 25px 0 25px;
}
.awards {
  background-color: #FCFFF5;
}

/* ----------------------------------------
Menu----
------------------------------------------- */
.menu {
  background-image: url('../img/dan-dan.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 200px;
}
.menu h2 {
  color: #193441;
  font-size: 68px;
  letter-spacing: 10px;
}
.view-menu {
  border: 2px solid #193441;
  padding: 5px 30px 5px 30px;
  background-color: #D1DBBD;
  font-size: 17px;
  color: #193441;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  opacity: 0.9;
}
.view-menu:hover {
  background-color: #703030;
  color: #D1DBBD;
  border: 2px solid #703030;
}



/* ----------------------------------------
Exclusive
------------------------------------------- */
.exclusive {
  background-color: #3E606F;
  color: #A5C2B3;
  padding: 100px;
}
.exclusive h2 {
  margin-bottom: 0;
  text-align: center;
  font-size: 50px;
}
.exclusive h3 {
  margin-bottom: 0;
  text-align: center;
}
.exclusive h4 {
  font-weight: 400;
  margin: 0 0 50px 0;
  font-style: italic;
  font-size: 14px;
  text-align: center;
}
.exclusive p {
  text-align: center;
  margin: 0 55px 30px 55px;
}
.grat {
  font-size: 12px;
}



/* ----------------------------------------
Footer
------------------------------------------- */

footer {
  text-align: center;
  background-color: #FCFFF5;
  color: #193441;
  padding: 0;
}
.copyright {
  margin-top: 70px;
  margin-bottom: 40px;
  border-top: 2px solid #193441;
  padding: 15px 0 3px;
}

.social-links a {
	font-size: 30px;
	padding: 15px;
	display: inline-block;
  justify-content: center;
	color: #193441;
}
.social-links a:hover {
  color: #703030;
}
.submit:hover {
  color: #8E2800;
}
.info-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-size: 12px;
}
.info-footer a {
  text-decoration: none;
  color: #193441;
  font-weight: bold;
  font-size: 1.17em;
}
.footer .col-1-6 {
  margin: 0;
}

/* ----------------------------------------
About Blue Dragon
------------------------------------------- */
.aboutbd-header {
  background-image: url('../img/fort-point.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: top;
  padding: 180px;
  color: #FCFFE6;
}
.aboutbd-about {
  display: block;
  align-items: stretch;
  flex-wrap: wrap;
}
.aboutbd-row {
  display: flex;
}
#blue-ginger {
  background-color: #D1DBBD;
  padding: 70px;
}
#blue-ginger p {
  color: #193441;
  font-size: 18px;
  font-weight: 200;
  line-height: 2;
  text-align: left;
}
#blue-ginger li {
  text-align: left;
  font-weight: 400;
  color: #193441;

}
#blue-ginger h2 {
  color: #193441;
  text-align: left;
}
#blue-ginger-img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #AAC7B8;
  padding: 0;
  margin: 0;
}
#left-image {
  margin-right: 15px;
}
.bg-grid {
  width: 250px;
}
#gift-card {
  background-color: #D1DBBD;
  padding: 70px;
}
#gift-card h2 {
  color: #193441;
  text-align: left;
}
#gift-card p {
  color: #193441;
  line-height: 2;
  text-align: left;
}
#giftcard button {
  text-align: center;
  color: #193441;
}
#gift-card-img {
  background-color: #AAC7B8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#delivery {
  background-color: #D1DBBD;
  padding: 50px;
  padding-bottom: 50px;
}
.delivery-header {
  margin-bottom: 70px;
}
#delivery h2 {
  color: #193441;
  font-size: 55px;
}
#delivery p {
  color: #193441;
  font-size: 17px;
  line-height: 1;
}
#delivery a {
  color: #193441;
  font-family: 'Slabo 27px', serif;
  text-transform: none;
  text-align: left;
  text-decoration: none;
}
#delivery a:hover {
  color: #703030;
}
#delivery-img {
  background-color: #AAC7B8;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
#delivery-img img {
  height: 200px;
  padding: 0;
  margin: 0;
}
#delivery img {
  margin: 0;
}
#catering {
  background-color: #D1DBBD;
  padding: 10px;
  padding-bottom: 50px;
}
#catering h2 {
  color: #193441;
  margin: 20px;
}
#catering h4 {
  color: #193441;
  font-weight: 400;
    margin: 20px;
}
#catering p {
  color: #193441;
  margin: 25px;
  line-height: 2;
    margin: 20px;
}
#catering ul {
  color: #193441;
  font-family: 'Slabo 27px', serif;
  text-transform: none;
  text-align: left;
    margin: 20px;
}
#catering button {
  border: 2px solid #193441;
  padding: 5px 30px 5px 30px;
  background-color: #D1DBBD;
  font-size: 17px;
  color: #193441;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  opacity: 0.9;
}
#catering a {
  color: #193441;
  text-decoration: none;
}
#catering button:hover {
  background-color: #703030;
  border: 2px solid #703030;
}
#catering button:hover a {
  color: #D1DBBD;
}
#catering-img {
  background-color: #AAC7B8;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* ----------------------------------------
About Ming
------------------------------------------- */
.aboutming-header {
  padding: 190px;
  background-image: url('../img/plating.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}
#aboutming {
  background-image: url('../img/texture.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 100px;
  color: #193441;
}
#aboutming h2 {
  text-align: center;
  letter-spacing: 7px;
  margin-top: 0;
  margin-bottom: 70px;
}
#aboutming img {
  margin-top: 50px;
}
#aboutming-links {
  background-color: #3E606F;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 55px 150px 55px 150px;
  color: #AAC7B8;
}
#aboutming-links a {
  text-transform: none;
  text-decoration: none;
  color: #AAC7B8;
}
#aboutming-links .italics {
  font-style: italic;
}
#aboutming-links h3 {
  font-size: 24px;
}
#aboutming-exclusive {
  display: flex;
  flex-wrap: wrap;
}
#aboutming-blueginger {
  background-color: #D1DBBD;
  padding: 20px;
  color: #193441;
}
#aboutming-blueginger a {
  color: #193441;
  text-decoration: none;
  font-size: 14px;
}
#aboutming-bluedragon {
  background-color: #AAC7B8;
  padding: 20px;
  color: #193441;
}
#aboutming-additional {
  background-color: #D1DBBD;
  padding: 20px;
  color: #193441;
}
#simplyming {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 60px;
  background-image: url('../img/texture.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: #193441;
}
.search {
  border: 2px solid #193441;
  padding: 2.5px 15px 2.5px 15px;
  background-color: #D1DBBD;
  font-size: 14px;
  color: #193441;
  font-weight: 700;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  opacity: 0.9;
}
.search:hover {
  background-color: #703030;
  color: #D1DBBD;
  border: 2px solid #703030;
}
#simplyming-aside {
  margin-left: 20px;
}
#simplyming-aside p a {
  text-decoration: none;
  color: #193441;
}
#simplyming-aside p a:hover {
  color: #703030;
}
#simplyming img {
  height: 100px;
  width: 100px;
}

/* ----------------------------------------
Reservation SideBar
------------------------------------------- */
.close {
  top: 10px;
  right: 50px;
  z-index: 100;
}
.opentable {
  position: absolute;
  right: -400px;
  top: 0;
  transition: .75s ease-in-out;
}

.sidebar {
  right: 0px;
  position: fixed;
}
iframe {
  position: relative;
}
#sidebar p {
  position: absolute;
  bottom: 20px;
  z-index: 100;
}

/* ----------------------------------------
Contact
------------------------------------------- */
.directions-main {
  background-color: #193441;
  padding: 50px 25px 50px 25px;
  color: #D1DBBD;
}
.directions {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}
.directions h3 {
  color: #D1DBBD;
}
#driving-directions {
  margin-left: 15px;
  margin-right: 0;
}
.contact {
  background-image: url('../img/south-station.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  padding: 180px;
}
.contact h2 {
  font-size: 72px;
  letter-spacing: 8px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #FCFFF5;
}
.contact h3 {
  margin: 0 0 50px 0;
  font-size: 36px;
  color: #FCFFF5;
}
.contact h4 {
  color: #FCFFF5;
}
.parking {
  display: flex;
  flex-wrap: wrap;
}
.parking p {
  margin: 30px 25px 0 25px;
  line-height: 1.5;
}
.reservations {
  background-image: url('../img/texture.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom;
  padding: 120px;
  color: #193441;
}
.reservations h2 {
  margin-bottom: 100px;
}
.hours {
  display: flex;
  flex-wrap: wrap;
  line-height: 2;
}
.hours h4 {
  font-size: 20px;
}
/* ----------------------------------------
Menu
------------------------------------------- */
.menu-header {
  background-image: url('../img/friedchicken1.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 180px;
  margin-bottom: 0;
  color: #193441;
}
.menu-header h2 {
  color: #193441;
  font-size: 68px;
  letter-spacing: 10px;
}
.menu-container {
  background-color: #3E606F;
  color: #AAC7B8;
}
.menu-container h2 {
  letter-spacing: 7px;
  margin-bottom: 0;
}
.menu-container p {
  margin: 0 0 70px 0;
  padding: 0;
}
.nav-menu-tabs {
  padding-bottom: 40px;
  padding-top: 60px;
  margin-top: 0;
}
.nav-menu-tabs li {
  display: inline-block;
  flex-wrap: wrap;
  letter-spacing: 1px;
  text-decoration: none;
  color: #AAC7B8;
  font-weight: 400;
  z-index: 100;
  border: 3px solid #703030;
  padding: 10px 30px 10px 30px;
  font-size: 22px;
}
.nav-menu-tabs li:hover {
  color: #703030;
  background-color: #3E606F;
}
#menu1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
  display: none;
}
#menu1 h4 {
  letter-spacing: 1px;
}
#menu2 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
  display: none;
}
#menu2 h4 {
  letter-spacing: 1px;
}
#menu3 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
  display: none;
}
#menu3 h4 {
  letter-spacing: 1px;
}
#menu4 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
  display: none;
}
#menu4 h4 {
  letter-spacing: 1px;
}
#menu5 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 25px;
  display: none;
}
#menu5 h4 {
  letter-spacing: 1px;
}
.catering-row {
  display: block;
}
.allergy {
  background-image: url('../img/texture.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  padding: 100px;
  color: #193441;
}
.fade-in-active {
  transition: all 350ms ease-in-out;
  display: flex !important;
}
.allergy h2 {
  margin-top: 0;
  margin-bottom: 100px;
}
.allergy p {
  margin: 0 50px 30px 50px;
}
.sides {
  line-height: 0;
  margin-bottom: 0;
}
.selected-tab {
  background-color: #703030;
}

/* ----------------------------------------
Media Queries
------------------------------------------- */

@media screen and (max-width: 720px) {
  .about h2  {
    font-size: 45px;
  }
  .about h4 {
    font-size: 16px;
  }
  .exclusive h2 {
    font-size: 45px;
  }
  .exclusive h3 {
    font-size: 16px;
  }
  .exclusive h4 {
    font-size: 12px;
  }
  .submit {
    margin-top: 10px;
  }
  .nav-menu-tabs li {
    font-size: 18px;
  }
  .col-1-6 {
    flex-basis: 33%;
  }
  .col-1-3 {
    flex-basis: 100%;
  }
  .col-2-3 {
    flex-basis: 100%;
  }
  .col-1-2 {
    flex-basis: 100%;
  }
}
@media screen and (max-width: 560px) {
	.hamburger {
		display: block;
		text-align: center;
	}
	nav ul {
		display: none;
	}
	footer input {
		margin: 0;
	}
  .awards {
    display: none;
  }
  .menu {
    padding: 100px;
  }
  .exclusive {
    padding: 70px;
  }
  .exclusive h2 {
    font-size: 40px;
  }
  .exclusive h3 {
    display: none !important;
  }
  .exclusive h4 {
    display: none !important;
  }
  .col-1-6 {
    flex-basis: 50%;
  }
  #blue-ginger-img {
    display: none;
  }
  #gift-card-img {
    display: none;
  }
  #delivery-img {
    display: none;
  }
  #catering-img {
    display: none;
  }
}
